$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;

$primary: #F55430;

$state-success-text:             #fff;
$state-success-bg:               #000;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);